
*{
	margin: 0;
	padding: 0;
}
.sai{
	padding-top: 20;
	background-color: #B2EBF2;
	padding-bottom: 20;
}
input[type=search]{
	background-image: url('search.png');
	float: right;
	box-sizing: border-box;
	padding:3;
	border-radius: 20px;
	background-color: B2EBF2;
	border:2px solid #ccc;
	margin-right: 90;
	outline-style: none;
	width: 2%;
	background-repeat: no-repeat;
	background-position:right;
	 transition: width 0.4s;
	 cursor: pointer;
}

input[type=search]:focus {
    width: 20%;
}
input[type=text]
{
		padding: 10px;
	border-radius:5px;
	outline-style: none;
	border-style: none;
	margin: 5px;
}
input[type=date]
{
		padding: 10px;
	border-radius:5px;
	outline-style: none;
	border-style: none;
	margin: 5px;
}
input[type=submit]:hover{
	box-shadow: 5px 5px 10px black;
}
input[type=password]
{
	margin: 5px;
	padding: 10px;
	border-radius:5px;
	outline-style: none;
	border-style: none;
}
select{
	padding: 5px;
	border-radius: 2px;
	border-style: none;
	outline-style: none;
	cursor: pointer;
	background-color: white;
	font-style: normal;
	color: black;

}
option{
	padding: 15px;
	cursor: pointer;
}
.head{
	text-align: center;
	font-size: 30;
    color: E0E0E0;
	font-family: solid;
	border-width: 2;
	margin-left: 500;
	margin-right: 500;
	border-style: inset;
	border-left-width: 4;
	background-color: 607D8B;
	text-shadow: 5 5 10 black;
}
#qa{
	color: white;
    width: 100%;
    clear: both;
}

ul{
	list-style-type: none;
	overflow: hidden;
	width: 50;
	height: 35;
	background-color: #333333;
}
li a{
    color: white;
    padding: 10;
    text-decoration-line: none;
    float: left;
    border-bottom:white;
}
ul:hover{
	height:auto;
	width:10%;
}
li a:hover{
	background-color:#546E7A;
	width: 100%;
}
marquee{
	color: red;
}

.div1{
	padding-top: 50;
	text-align: right;
	font-style: normal;
	font-size: 15;
	line-height: 2;
	margin-right: 200;
	box-sizing: border-box;
		
}
.outline{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-right: 100;
    margin-left: 600;
}
.bod{
	background-color: F0F4C3;

}

img{
	float: left;
	clear: both;
	margin-right: 100;
	padding-left: 60;
	padding-top: 40;
	opacity: 0.5;

}
img:hover{
	opacity: 100;
}
footer{
	clear: both;
	text-align: center;
	padding: 20;
}
.we{
    animation: mymove 5s infinite;
}
@keyframes mymove {
   50% {text-shadow:  10px 20px 30px blue;}
}
p1 a{
	margin-top: 15px;
	display: block;
	text-decoration-line: none;
	background-color: grey;
	text-align: center;
	clear: both;
	margin-left: 550;
	margin-right: 550;
	padding: 10;
	color: white;
	cursor: pointer;
}
p1 a:hover{
	box-shadow: 5px 5px 10px black;
}
p1 a:focus{
	background-color: black;
}
html{
	width: 1400;
	overflow: auto;
	scroll-behavior: smooth;
}
input[type=button],[type=submit]
{
	padding: 5px;
	border-radius: 2px;
	border-style: none;
	outline-style: none;
	cursor: pointer;
	background-color: grey;
	font-style: normal;
	color: white;
}
input[type=button]:hover{
	box-shadow: 5px 5px 10px black;
}
input[type=button]:focus{
	background-color:green;
}
input[type=reset]
{
	padding: 5px;
	border-radius: 2px;
	border-style: none;
	outline-style: none;
	cursor: pointer;
	background-color: grey;
	font-style: normal;
	color: white;
}
input[type=reset]:hover{
	box-shadow: 5px 5px 10px black;
}
input[type=reset]:focus{
	background-color:red;
}